.DS_Store
Thumbs.db

admin/node_modules/
admin/dist/
admin/coverage/
admin/*.log

app-valmu/node_modules/
app-valmu/.expo/
app-valmu/.eas/
app-valmu/android/
app-valmu/ios/
app-valmu/dist/
app-valmu/build/
app-valmu/*.apk
app-valmu/*.aab
app-valmu/npm-debug.log*
app-valmu/yarn-debug.log*
app-valmu/yarn-error.log*
